
@media screen and (min-width: 1285px) {
	body {
		transform: scale(1.5) translateY(17%) translateX(17%);
		margin-bottom: 10px;
	}
}
body {
	display: inline-block;
	background-image: none;
	background-size:cover;
}
#header {
	text-align: center;
	background-color: #f5e4e4;
	display: -webkit-inline-box;
	padding-left: 5px;
	font-family: 'Anton', sans-serif;
	font-size: 1.2em;
	font-weight: 15em;
	/* border: 3px solid #6969691f; */
	height: 130px;
	width:1245px;
}
#header li {
	margin-right: 20px;
}
/* header contents index*/
#header .index{
	list-style: none;
	display: inline-flex;
	padding-left: 0px;
	margin-top: 20px;
}
/* Shirts, Jeans box opacity & side*/
.donot, .donot2, .donot3, .donot4{
	opacity: 0;
	color: #24151abd;
	margin-right: 80px;
}
/* Shirts, Jeans text*/
.donot li, .donot li, .donot2 li, .donot3 li, .donot4 li{
	list-style: none;
	display: inline-flex;
	background-color: none;
	position: absolute;
	z-index: 200;
	margin-left: -50px;
}
/* Shirts, Jeans box*/
#header .line {
	margin-right:20px;
	margin-top: 20px;
}
/* Shirts, Jeans text*/
#header .line a {
	color: #555252;
	text-decoration: none;
}
/* MEN MD.... */
#root:hover, #root2:hover, #root3:hover, #root4:hover {
	color: red;
}
/* MEN MD.... */
#root, #root2, #root3, #root4 {
	padding-left: 15px;
	margin-top: 25px;
}
/* icon start */
#root5{
	margin-left: 310px;
}
/* icon text */
.icon .label {
	display: none;
}

#columns {
}
#columns2 {
	background-color: cornsilk;
}



#footer2{
	background-color: #f5e4e4;
	font-family: 'Anton', sans-serif;
	font-size: 1.2em;
	font-weight: 15em;
	/* border: 3px solid #6969691f; */
	width:1230px;
	border:2px solid #decccc;
}
#footer2 h2{
	font-family: 'Anton', sans-serif;
	text-decoration: none;
	color: black;
	font-weight: 18em;
	font-size: 18px;
	margin-bottom: 10px;
	/* border: 3px solid #6969691f; */
}
#footer2 h6{
	font-family: 'Anton', sans-serif;
	text-decoration: none;
	color: black;
	font-weight: lighter;
	font-size: 12px;
	/* border: 3px solid #6969691f; */
}
#footer3 a {
	text-decoration:none;
	color:black;
}
